# Exclude everything in each project

## Root Project
/*

## Plugin Project
!plugin/
plugin/*

# Include specifically

## Gradle
!gradle/
!gradlew
!gradlew.bat
!build.gradle*
!settings.gradle*
!gradle.properties
!.travis.yml

## Scripts
!scripts/
scripts/node_modules

## Markdown/Docs
!*.md
!LICENSE

## Configuration
!.editorconfig

## Source code, except generated
!src/
src/generated/
out/
build/

## Git
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub
!.github/

## Explicit includes

## Explicit ignores
